---
import SubPageLayout from "../layouts/SubPageLayout.astro";
import Button from "../components/common/Button.astro";
---
<style>
  .button-group {
    display: flex;
    gap: 1rem;
  }
</style>
<SubPageLayout title="404">
  <div class="about-content">
    <h2>Page not found.</h2>

    <p>
      Looks like this page doesn’t exist or the link is broken.<br />
      If this error persists, please <a href="https://letterbird.co/brendoncabral">let me know</a>.
    </p>

    <div class="button-group">
      <Button
       class="button"
        href="https://letterbird.co/brendoncabral"
        text="Contact Me"
        wrapperClass="cta-link"
      />
      <Button
          class="button"
        href="/"
        text="Back to Home"
        wrapperClass="cta-link"
      />
  </div>
</SubPageLayout>